// font family variables
$font-iransans: 'IRANSans';

// font size variables
$font-size-display-large: 56px;
$font-size-display-medium: 44px;
$font-size-display-small: 36px;
$font-size-headline-large: 32px;
$font-size-headline-medium: 28px;
$font-size-headline-small: 24px;
$font-size-title-large: 22px;
$font-size-title-medium: 16px;
$font-size-title-small: 14px;
$font-size-label-large: 14px;
$font-size-label-medium: 12px;
$font-size-label-small: 10px;
$font-size-body-large: 16px;
$font-size-body-medium: 14px;
$font-size-body-small: 12px;

// line height variables
$line-height-display-large: 64px;
$line-height-display-medium: 52px;
$line-height-display-small: 44px;
$line-height-headline-large: 40px;
$line-height-headline-medium: 36px;
$line-height-headline-small: 32px;
$line-height-title-large: 28px;
$line-height-title-medium: 24px;
$line-height-title-small: 20px;
$line-height-label-large: 20px;
$line-height-label-medium: 16px;
$line-height-label-small: 16px;
$line-height-body-large: 24px;
$line-height-body-medium: 20px;
$line-height-body-small: 16px;