/* color variables */
:root {
    --primary-color: #6750A4;
    --primary-container-color: #EADDFF;
    --secondary-color: #625B71;
    --secondary-container-color: #E8DEF8;
    --surface-color: #FFFBFE;
    --surface-variant-color: #E7E0EC;
    --background-color: #FFFBFE;
    --error-color: #B3261E;
    --error-container-color: #F9DEDC;
    --on-primary-color: #FFFFFF;
    --on-primary-container-color: #21005D;
    --on-secondary-color: #FFFFFF;
    --on-secondary-container-color: #1D192B;
    --on-surface-color: #1C1B1F;
    --on-surface-variant-color: #49454F;
    --on-error-color: #FFFFFF;
    --on-error-container-color: #410E0B;
    --on-background: #1C1B1F;
    --outline-color: #79747E;
    --outline-variant-color: #CAC4D0;
    --shadow-color: #000000; 
    --surface-tint-color: #6750A4;
    --inverse-surface-color: #313033;
    --inverse-on-surface-color: #F4EFF4;
    --inverse-primary-color: #D0BCFF;
}